div.row.forgot#forgot

    div.col.s12
        div#forgot_description
            a.waves-effect.btn-flat.small#arrow(title="back to Login")
                i.material-icons.black-text arrow_back
                | Forgot your Password?
            p.black-text Please enter your registered Mobile Number to receive a password reset OTP.
        div.input-field.col.s11
            input.black-text.required(type="text")#registeredMOB
            label(for="registeredMOB") Registered Mobile Number

        div.center#field
            //if(page == 'ForgotForUser')
            a.waves-effect.waves-green.btn.teal.buttu.user(title="click to recieve OTP")#OTPforForgot Continue
            //else if(page == 'ForgotForHealthCareProvider ')
            //a.waves-effect.waves-green.btn.teal.buttu.doctor#DOTPforForgot DPContinue

        //-------------------------------------------------for forgot Password---------------------------------------------------------------------------

        div.otpforforgot#pass1.col.s12
            p.black-text OTP sent to Mobile
                span.badge.btn-flat.right Resend?

            div.input-field.col.s12
                input.black-text(type="text")#otp1
                label(for="otp1") Enter OTP
                a(href="#",title="verify OTP")
                    span.right.verify#verify1 Verify OTP
                    //span.right#Dverify1 Verify OTP
            div.input-field.col.s12
                input.black-text.required(type="password")#password3
                label(for="password3") Password
            div.col.s12
                input.black-text(type="checkbox")#check3
                label(for="check3") show password
            br
            br
            div.row.center
                //if(page == 'ForgotForUser')
                a.waves-effect.waves-green.btn.purple.buttu.user(title=" click to Update Password and login")#againLogin Login
                //else if(page == 'ForgotForHealthCareProvider ')
                //a.waves-effect.waves-green.btn.purple.buttu.doctor#DagainLogin update_D/PLogin
