div.row.black-text.register#register
    div.input-field.col.s12.active.basic
        input.required(type="text")#name
        label(for="name") Name
    span#healthCare Are you a HEALTHCARE PROVIDER ?
    div.input-field.col.s12.basic
        input.validate(type="email")#email
        label(for="email") Email

    div.input-field.col.basic1.s12
        input.required(type="text")#number
        label(for="number") Number
        span(style={position: "absolute", right: "0"}).badge.btn.right#change ChangeNo.?
        //span(style={position: "absolute", right: "0"}).badge.btn.right#send Send OTP
    div.row.center
        //if(data=='UserRegister')
        a.waves-effect.waves-purple.btn.hoverable.mediumpurple.buttu.user(title="click to recieve OTP")#send Continue
        a.waves-effect.waves-light.btn.modal-trigger.user.buttu(title="click to LOGIN")#loginButton12 Existing User?Log in
        //else if(data == 'ifDoctor')
        a.waves-effect.waves-purple.btn.hoverable.mediumpurple.buttu.doctor(title="click to recieve OTP")#Dsend Continue
        a.waves-effect.waves-light.btn.modal-trigger.doctor.buttu(title="click to LOGIN")#D_loginButton Existing User?Log in
        //else if(data == 'ifPhamacist')
        a.waves-effect.waves-purple.btn.hoverable.mediumpurple.buttu.pharmacist(title="click to recieve OTP")#Psend Continue
        a.waves-effect.waves-light.btn.modal-trigger.pharmacist.buttu(title="click to LOGIN")#P_loginButton Existing User?Log in

            //include ./modalRegister
    //------------------------------------------------after OTP has been sent-----------------------------------------------------------------------------
    div#pass.col.s12
        p OTP sent to Mobile
            span.badge.btn-flat.right Resend?

        div.input-field.col.s12
            input(type="text")#otp
            label(for="otp") Enter OTP
            //--------------------------------------------verification of otp--------------------------------------------------------
            a(href="#")
                //if(data == 'UserRegister')
                span.right.user.verify(title="verify OTP")#verify Verify OTP
                //else if(data == 'ifDoctor')
                span.right.doctor.verify(title="verify OTP")#Dverify Verify OTP
                //else if(data == 'ifPhamacist')
                span.right.pharmacist.verify(title="verify OTP")#Pverify Verify OTP
        div.input-field.col.s12
            input.required(type="password" placeholder="numeric")#password1
            label(for="password1") Password
        div.col.s12
            input(type="checkbox")#check1
            label(for="check1") show password
            br
            br
        //-------------------------------------------submit button---------------------------------------------------------------------------

        div.row.center
            //if(data == 'UserRegister')
            a.waves-effect.waves-purple.btn.purple.hoverable.darken-2.buttu.user(title="click to register")#submitButton Signup
            //else if(data == 'ifDoctor')
            a.waves-effect.waves-purple.btn.purple.hoverable.darken-2.buttu.doctor(title="click to register")#DsubmitButton Signup
            //else if(data == 'ifPhamacist')
            a.waves-effect.waves-purple.btn.purple.hoverable.darken-2.buttu.pharmacist(title="click to register")#PsubmitButton Signup


