footer.page-footer#footer0
    .container
        .row
            .col.s12.l4.m6
                br
                br
                h5.e Connect with Us

                p.grey-text.text-lighten-4
                span.fa-stack.fa-lg
                    i.fa.fa-square-o.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x
                span.fa-stack.fa-lg
                    i.fa.fa-square-o.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x
                span.fa-stack.fa-lg
                    i.fa.fa-square-o.fa-stack-2x
                    i.fa.fa-linkedin.fa-stack-1x
                span.fa-stack.fa-lg
                    i.fa.fa-square-o.fa-stack-2x
                    i.fa.fa-youtube.fa-stack-1x

            .col.s12.l8.m6
                br
                br
                h5.e Download our app
                p.grey-text.text-lighten-4
                a(href="https://play.google.com/store/apps/details?id=com.medengage.drugindex&hl=en")
                    img.Uimg(src="/images/playstore.jpg" height="40")
                //img.Uimg(src="/images/appstore.jpg" height="100")


    .footer-copyright#footer5

footer.page-footer#footer1
    .container
        .row
            .col.l4.s12.m4
                h5.e Company Information
                p.grey-text.text-lighten-4
                ul
                    li
                        a.grey-text.text-lighten-3(href='/') - About ApniCare
                    li
                        a.grey-text.text-lighten-3(href='/') - Careers
                    li
                        a.grey-text.text-lighten-3(href='/') - News & Reports
                    li
                        a.grey-text.text-lighten-3(href='/') - Terms & Conditions

            .col.l4.s12.m4
                br
                br
                p.grey-text.text-lighten-4
                    ul
                        li
                            a.grey-text.text-lighten-3(href='/') - Privacy Policy
                        li
                            a.grey-text.text-lighten-3(href='/') - Contact Us

                        li
                            a.grey-text.text-lighten-3(href='/') - Feedback


            .col.l4.s12.m4
                h5.e Your ApniCare Account
                p.grey-text.text-lighten-4
                ul
                    li
                        a.grey-text.text-lighten-3(href='/') - SignUp/Login
                    li
                        a.grey-text.text-lighten-3(href='/') - Your Profile
                    li
                        a.grey-text.text-lighten-3(href='/') - HealthCare Providers
                    li
                        a.grey-text.text-lighten-3(href='/') - Refer your Friend
    .footer-copyright#footer4
footer.page-footer#footer2
    .container
        .row
            .col.l8.s12.m4
                h5#h5.e Drug Categories
                .col.l6.s12.m6
                    .grey-text.text-lighten-4
                        ul
                            li
                                a.grey-text.text-lighten-3(href='/') - Analgesics
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Allergic
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Bacterial
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Diabetic
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Gout
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Microbial
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Migraine
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Neoplastic
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Rheumatic
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Sera & Immune Globulins
                .col.l6.s12.m6
                    .grey-text.text-lighten-4
                        ul
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-TuberCular
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Viral
                            li
                                a.grey-text.text-lighten-3(href='/') - Antidotes
                            li
                                a.grey-text.text-lighten-3(href='/') - Antacids
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Pyretic
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Psychotics
                            li
                                a.grey-text.text-lighten-3(href='/') - Anti-Depressants
                            li
                                a.grey-text.text-lighten-3(href='/') - Vaccines
                            li
                                a.grey-text.text-lighten-3(href='/') - Vitamins
                            li
                                a.grey-text.text-lighten-3(href='/') - Miscellaneous Drugs
            .col.l4.s12.m5
                h5.e Disease & Conditions
                p.grey-text.text-lighten-4
                    ul
                        li
                            a.grey-text.text-lighten-3(href='/') - Diabetes
                        li
                            a.grey-text.text-lighten-3(href='/') - Hypertension
                        li
                            a.grey-text.text-lighten-3(href='/') - Malaria
                        li
                            a.grey-text.text-lighten-3(href='/') - Dengue
                        li
                            a.grey-text.text-lighten-3(href='/') - Pheumonia
                        li
                            a.grey-text.text-lighten-3(href='/') - Constipatioh
                        li
                            a.grey-text.text-lighten-3(href='/') - Headache
                        li
                            a.grey-text.text-lighten-3(href='/') - Rabies
                        li
                            a.grey-text.text-lighten-3(href='/') - Tuberculosis(TB)
                        li
                            a.grey-text.text-lighten-3(href='/') - Asthma
                        li
                            a.grey-text.text-lighten-3(href='/') - Migraine
                        li
                            a.grey-text.text-lighten-3(href='/') - Rheumatoid


    .footer-copyright#footer3
        .container
            //img.center(src="/images/az.png" height="50px" width="100px")
            a.center(href='/homes?page=profilePage')
                img#logoimg2.center(src="/images/az.png" height="50px" width="100px")
                p.center.logo#logo1 ApniCare.com
            p.center#madeforIndia Made for India
            p.center#copyright Copyright © 2017 SBEPL All right reserved



